.movies{
    margin: 1em 0;
    overflow: scroll;
    scrollbar-width: none;
}

.miniatures{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1em 0;
    width: 200%;
}

.movie-miniature{
    height: 150px;
    width: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: 0.5s;
}

.movie-miniature-info{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}

.movie-miniature-info:hover{
    background-color: rgba(0, 0, 0, 0);
}
.movie-miniature:hover{
    height: 200px;
    width: 450px;
}